<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>758902924249-4kb3e30bsnna5f5ruhotgbjslfjujevu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.758902924249-4kb3e30bsnna5f5ruhotgbjslfjujevu</string>
	<key>API_KEY</key>
	<string>AIzaSyBxb5Ty57z4bVV9lmpxnjfw6chURwmhiZY</string>
	<key>GCM_SENDER_ID</key>
	<string>758902924249</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.handshake</string>
	<key>PROJECT_ID</key>
	<string>handshakefirebase</string>
	<key>STORAGE_BUCKET</key>
	<string>handshakefirebase.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:758902924249:ios:166a45bec2000fbf442fc8</string>
</dict>
</plist>